@layer utilities {

  .text_green\.500 {
    color: var(--colors-green-500)
    }

  .bg_blue\.400 {
    background: var(--colors-blue-400)
    }

  .rounded_md {
    border-radius: var(--radii-md)
    }

  .px_2 {
    padding-inline: var(--spacing-2)
    }

  .text_white {
    color: var(--colors-white)
    }

  .text_red\.500 {
    color: var(--colors-red-500)
    }

  .font_bold {
    font-weight: var(--font-weights-bold)
    }

  .fs_2xl {
    font-size: var(--font-sizes-2xl)
    }

  .text_orange\.500 {
    color: var(--colors-orange-500)
    }
}