@layer reset, base, tokens, recipes, utilities;

@import './global.css';

@import './reset.css';

@import './tokens/index.css';

@import './tokens/keyframes.css';

@layer utilities {
  .text_green\.500 {
    color: var(--colors-green-500)
    }

  .bg_blue\.400 {
    background: var(--colors-blue-400)
    }

  .rounded_md {
    border-radius: var(--radii-md)
    }

  .px_2 {
    padding-inline: var(--spacing-2)
    }

  .text_white {
    color: var(--colors-white)
    }

  .text_red\.500 {
    color: var(--colors-red-500)
    }

  .font_bold {
    font-weight: var(--font-weights-bold)
    }

  .text_orange\.500 {
    color: var(--colors-orange-500)
    }

  .bg_red\.50 {
    background-color: var(--colors-red-50)
    }

  .bg_pink\.50 {
    background-color: var(--colors-pink-50)
    }

  .bg_pink\.10 {
    background-color: pink.10
    }

  .bg_orange\.50 {
    background-color: var(--colors-orange-50)
    }

  .bg_blue\.100 {
    background-color: var(--colors-blue-100)
    }

  .text_blue\.100 {
    color: var(--colors-blue-100)
    }

  .text_red\.100 {
    color: var(--colors-red-100)
    }

  .text_2xk {
    text: 2xk
    }

  .text_2xl {
    text: 2xl
    }

  .bg_red\.300 {
    background: var(--colors-red-300)
    }

  .pos_relative {
    position: relative
    }

  .before\:content_\"\"::before {
    content: ""
        }

  .before\:d_block::before {
    display: block
        }

  .before\:h_0::before {
    height: var(--sizes-0)
        }

  .before\:pb_75\%::before {
    padding-bottom: 75%
        }

  .\[\&\>\*\]\:d_flex>* {
    display: flex
        }

  .\[\&\>\*\]\:justify_center>* {
    justify-content: center
        }

  .\[\&\>\*\]\:items_center>* {
    align-items: center
        }

  .\[\&\>\*\]\:overflow_hidden>* {
    overflow: hidden
        }

  .\[\&\>\*\]\:pos_absolute>* {
    position: absolute
        }

  .\[\&\>\*\]\:inset_0>* {
    inset: var(--spacing-0)
        }

  .\[\&\>\*\]\:w_100\%>* {
    width: 100%
        }

  .\[\&\>\*\]\:h_100\%>* {
    height: 100%
        }

  .\[\&\>img\,_\&\>video\]\:object_cover>img, .\[\&\>img\,_\&\>video\]\:object_cover>video {
    object-fit: cover
        }

  .bg_red\.100 {
    background-color: var(--colors-red-100)
    }

  .bg_pink\.100 {
    background-color: var(--colors-pink-100)
    }

  .bg_orange\.100 {
    background-color: var(--colors-orange-100)
    }

  .text_red\.600 {
    color: var(--colors-red-600)
    }

  .fs_2xl {
    font-size: var(--font-sizes-2xl)
    }

  .gap_10px {
    gap: 10px
    }

  .flex_column {
    flex-direction: column
    }

  .p_4 {
    padding: var(--spacing-4)
    }

  .flex_row {
    flex-direction: row
    }

  .p_2 {
    padding: var(--spacing-2)
    }

  .gap_4 {
    gap: var(--spacing-4)
    }

  .columns_3 {
    columns: 3px
    }

  .gap_6 {
    gap: var(--spacing-6)
    }

  .\--thickness_1px {
    --thickness: 1px
    }

  .w_100\% {
    width: 100%
    }

  .border-block-end-width_var\(--thickness\) {
    border-block-end-width: var(--thickness)
    }

  .rounded_9999px {
    border-radius: 9999px
    }

  .bg_red\.600 {
    background: var(--colors-red-600)
    }

  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }

  .justify_center {
    justify-content: center
    }

  .flex_0_0_auto {
    flex: 0 0 auto
    }

  .w_12 {
    width: var(--sizes-12)
    }

  .h_12 {
    height: var(--sizes-12)
    }

  .bg_red\.400 {
    background: var(--colors-red-400)
    }
}