@layer reset, base, tokens, recipes, utilities;

@import './global.css';

@import './reset.css';

@import './tokens/index.css';

@import './tokens/keyframes.css';

@layer utilities {
  .text_green\.500 {
    color: var(--colors-green-500)
    }

  .bg_blue\.400 {
    background: var(--colors-blue-400)
    }

  .rounded_md {
    border-radius: var(--radii-md)
    }

  .px_2 {
    padding-inline: var(--spacing-2)
    }

  .text_white {
    color: var(--colors-white)
    }

  .text_red\.500 {
    color: var(--colors-red-500)
    }

  .text_orange\.500 {
    color: var(--colors-orange-500)
    }

  .fill_white\.700 {
    fill: white.700
    }

  .d_block {
    display: block
    }

  .fill_white {
    fill: var(--colors-white)
    }

  .m_2em {
    margin: 2em
    }

  .m_1em {
    margin: 1em
    }

  .bg_white\.700 {
    background: white.700
    }

  .w_2em {
    width: 2em
    }

  .h_2em {
    height: 2em
    }

  .object_contain {
    object-fit: contain
    }

  .font_bold {
    font-weight: var(--font-weights-bold)
    }

  .d_inline-block {
    display: inline-block
    }

  .m_0\.75em {
    margin: 0.75em
    }

  .w_3em {
    width: 3em
    }

  .h_3em {
    height: 3em
    }

  .justify_space-between {
    justify-content: space-between
    }

  .h_100\% {
    height: 100%
    }

  .bg_white {
    background: var(--colors-white)
    }

  .h_240px {
    height: 240px
    }

  .bg_green\.400 {
    background-color: var(--colors-green-400)
    }

  .h_360px {
    height: 360px
    }

  .w_640px {
    width: 640px
    }

  .bg_orange\.400 {
    background-color: var(--colors-orange-400)
    }

  .h_480px {
    height: 480px
    }

  .w_600px {
    width: 600px
    }

  .bg_pink\.400 {
    background-color: var(--colors-pink-400)
    }

  .bg_red\.100 {
    background-color: var(--colors-red-100)
    }

  .bg_pink\.100 {
    background-color: var(--colors-pink-100)
    }

  .bg_orange\.100 {
    background-color: var(--colors-orange-100)
    }

  .text_red\.600 {
    color: var(--colors-red-600)
    }

  .fs_2xl {
    font-size: var(--font-sizes-2xl)
    }

  .gap_10px {
    gap: 10px
    }

  .flex_column {
    flex-direction: column
    }

  .p_4 {
    padding: var(--spacing-4)
    }

  .flex_row {
    flex-direction: row
    }

  .p_2 {
    padding: var(--spacing-2)
    }

  .gap_4 {
    gap: var(--spacing-4)
    }

  .columns_3 {
    columns: 3px
    }

  .gap_6 {
    gap: var(--spacing-6)
    }

  .\--thickness_1px {
    --thickness: 1px
    }

  .w_100\% {
    width: 100%
    }

  .border-block-end-width_var\(--thickness\) {
    border-block-end-width: var(--thickness)
    }

  .rounded_9999px {
    border-radius: 9999px
    }

  .bg_red\.600 {
    background: var(--colors-red-600)
    }

  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }

  .justify_center {
    justify-content: center
    }

  .flex_0_0_auto {
    flex: 0 0 auto
    }

  .w_12 {
    width: var(--sizes-12)
    }

  .h_12 {
    height: var(--sizes-12)
    }

  .bg_red\.400 {
    background: var(--colors-red-400)
    }
}